src/*.exe
src/horrorcoin
src/horrorcoind
src/test_horrorcoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.horrorcoin

# Compilation and Qt preprocessor part
*.qm
Makefile
horrorcoin-qt
horrorcoin-Qt.app

# Unit-tests
Makefile.test
horrorcoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb-*/Makefile
